
.transition,
.ulDescripcion li i:before,
.ulDescripcion li i:after,
p {
    transition: all 0.25s ease-in-out;
}

.flipIn,
.ulDescripcion li,
h1 {
    animation: flipdown 0.5s ease both;

}





@media (max-width: 550px) {
    body {
        box-sizing: border-box;
        transform: translate(0, 0);
        max-width: 100%;
        min-height: 100%;
        margin: 0;
        left: 0;
    }
}

h1,
h2 {
    color: white;
}

h1 {
    text-transform: uppercase;
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 3px;
    font-weight: 100;
}

h2 {
    font-size: 26px;
    line-height: 34px;
    font-weight: 200px;
    letter-spacing: 1px;
    display: block;

    margin: 0;
    cursor: pointer;
}

p {
    color: rgba(48, 69, 92, 0.8);
    font-size: 17px;
    line-height: 26px;
    letter-spacing: 1px;
    position: relative;
    overflow: hidden;
    max-height: 800px;
    width: 350px;
    opacity: 1;
    transform: translate(0, 0);
    margin-top: 14px;
  padding-left: 20px;
    z-index: 2;
    border-radius: 0.3em;
    background-color: #ffffff10;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
}

.ulDescripcion {
    list-style: none;
    perspective: 900;
    padding: 0;
    margin: 0;

}

.ulDescripcion li {
    position: relative;
    padding: 0;
    margin: 0;
    padding-bottom: 4px;
    padding-top: 18px;

}

.ulDescripcion li:nth-of-type(1) {
    animation-delay: 0.5s;
}

.ulDescripcion li:nth-of-type(2) {
    animation-delay: 0.75s;
}

.ulDescripcion li:nth-of-type(3) {
    animation-delay: 1s;
}

.ulDescripcion li:last-of-type {
    padding-bottom: 0;
}

.ulDescripcion li i {
    position: absolute;
    transform: translate(-6px, 0);
    margin-top: 16px;
    right: 0;
}

.ulDescripcion li i:before,
.ulDescripcion li i:after {
    content: "";
    position: absolute;
    background-color: black;
    width: 3px;
    height: 9px;
}

.ulDescripcion li i:before {
    transform: translate(-2px, 0) rotate(45deg);

}

.ulDescripcion li i:after {
    transform: translate(2px, 0) rotate(-45deg);
}

.ulDescripcion li input[type=checkbox] {
    position: absolute;
    cursor: pointer;
    width: 90%;
    height: 100%;
    z-index: 1;
    opacity: 0;


}

.ulDescripcion li input[type=checkbox]:checked~p {
    margin-top: 0;
    max-height: 0;
    opacity: 0;
    transform: translate(0, 50%);


}

.ulDescripcion li input[type=checkbox]:checked~i:before {
    transform: translate(2px, 0) rotate(45deg);
}

.ulDescripcion li input[type=checkbox]:checked~i:after {
    transform: translate(-2px, 0) rotate(-45deg);
}

@keyframes flipdown {
    0% {
        opacity: 0;
        transform-origin: top center;
        transform: rotateX(-90deg);
    }

    5% {
        opacity: 1;
    }

    80% {
        transform: rotateX(8deg);
    }

    83% {
        transform: rotateX(6deg);
    }

    92% {
        transform: rotateX(-3deg);
    }

    100% {
        transform-origin: top center;
        transform: rotateX(0deg);
    }
}

.containerCards {
    max-width: 26rem;
    padding: 0.2rem;
    display: inline-flex;

}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    grid-gap: 2.5rem;
}

.card {
    background: red;
    background: rgb(59, 153, 255);
    color: white;
    padding: 1.5rem;
    overflow: hidden;
    border-radius: 0.8rem;
}

.card-title-large {
    font-family: fantasy;
    font-size: 2.5rem;
    letter-spacing: 0.2rem;
    color: black;
    transform: translate(7rem);
    transition: transform 2.5s;
}

.card-title-oficio {
    font-family: fantasy;
    font-size: 2.5rem;
    letter-spacing: 0.5rem;
    color: black;
    transform: translate(-1rem);
    transition: transform 2.5s;
}




.card-title-small {
    margin-bottom: 0.5rem;
}

.card-description {
    font-size: 1.4rem;
    line-height: 1.5;
}

.card-cta {
    display: inline-block;
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    display: grid;
    place-items: center;
    margin-left: 9rem;


}





.card:hover .card-cta {
    background-color: #ffffff10;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
}

.card:hover .card-title-large {
    transform: translate(-2%);
    color: white;
}

.card:hover .card-title-oficio {
    transform: translate(22%);
    color: white;

}


